<html>
<head>
	<link href="/stylesheets/style.css" rel="stylesheet" type='text/css' />
</head>

<body>

<img src="/images/banner.png" class="banner" />
<%= @date %>
	<div class="container">
		<section class="texts">
			<% @conversation.messages.each do |message| %>
				<% if message.sender == "Ian" %>
					<div class="from-them">
						<p><%= message.content %></p>
					</div>
					<div class="clear">
					</div>
				<% else %>
					<div class="from-me">
						<p><%= message.content %></p>
					</div>
					<div class="clear">
					</div>
				<% end %>
			<% end %>
		</section>
	</div>
</body>
</html>