<html>
<head>
	<link href="/stylesheets/style.css" rel="stylesheet" type='text/css' />
	<meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no" />

</head>

<body>

<img src="/images/banner.png" class="banner" style="width:320222px;" />
<div class="date">
<%= @date %>
</div>
	<div class="container">
		<section class="texts">
			<% @conversation.messages.each do |message| %>
				<% if message.sender == "Ian" %>
					<div class="from-them">
						<p><%= message.content %></p>
					</div>
					<div class="clear">
					</div>
				<% else %>
					<div class="from-me">
						<p><%= message.content %></p>
					</div>
					<div class="clear">
					</div>
				<% end %>
			<% end %>
		</section>
	</div>
</body>
</html>